.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-content
      .chat-main__group-info__left-content__group-name
        test
      .chat-main__group-info__left-content__join-member
        Member : masa
    .chat-main__group-info__button
      = link_to "EDIT", "#", class: "chat-main__group-info__edit-button"
  .chat-main__message-list
  .chat-main__message-form